# Temporary files generated during build
version.h
*.o
*.a

# Products
*.so
gpio-export
gpio-unexport
gpio-read
gpio-write
gpio-mode
rhid-reset
rhid-check
rhid-backlight
rhid-command
rhid-button
rhid-cursor
rhid-print

# OS X trouble
.AppleDouble
.DS_Store
